html
    body
        h1 #{title}
        form(action='/users/', method='post')
            p
                | name :
                input(type='text', name='name', value='')
            p
                | pwd :
                input(type='text', name='pwd', value='')
            input(type='submit', value='Ajouter')

